#hm-cnt {
    width: 50%;
    min-width: 400px;
    margin: auto;
}
.homepage-btn-container {
    width: 20%;
    min-width: 250px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 50px;
}