.header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    justify-self: flex-start;
}
.manage {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.ng-tns-c1923052698-0 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
