.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}
nav {
    display: flex;
    gap: 8px;
    font-size: small;
}
.link {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}
.manage {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
