.header {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    justify-self: flex-start;
}
.manage {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
#acc-mng-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 200px;
    padding: 20px;
}
