#today-filter {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.table-container {
  width: 80vw;
  display: flex;
  height: 400px;
}

#fixed-column-table {
  min-width: 300px;
  height: 100%;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.fixed-column {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 1;
  border-right: 2px solid #ddd;
}

#scrollable-container {
  min-width: 80%;
  overflow-x: scroll;
  width: 100px;
  height: 100%;
}

.scrollable-table {
  min-width: 2000px;
  height: 100%;
  border-bottom: 1px solid #ddd;
}

.scroll-column-head {
  border-right: 1px solid #ddd;
  min-width: 380px;
}

.scroll-column {
  background-color: white;
  border-right: 1px solid #ddd;
}

.scroll-column div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scroll-column div button {
  display: none;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: unset;
}

.mat-mdc-row:nth-child(odd) {
  background-color: rgba(36, 36, 36, 0.036);
}