<div class="table-container">
  <table mat-table [dataSource]="dataSource" id="fixed-column-table">
    <!-- Name Column (Fixed) -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="fixed-column">Name</th>
      <td mat-cell *matCellDef="let employee" class="fixed-column">
        {{ employee.name }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name']"></tr>
  </table>

  <div id="scrollable-container">
      <table mat-table [dataSource]="dataSource" class="scrollable-table">
        <!-- Remaining Columns -->
        <ng-container matColumnDef="timeIn">
          <th mat-header-cell *matHeaderCellDef>Time In</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.timeIn }}</td>
        </ng-container>
    
        <ng-container matColumnDef="break1out">
          <th mat-header-cell *matHeaderCellDef>Break 1 Out</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.break1out }}</td>
        </ng-container>
    
        <ng-container matColumnDef="break1in">
          <th mat-header-cell *matHeaderCellDef>Break 1 In</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.break1in }}</td>
        </ng-container>
    
        <ng-container matColumnDef="timeSpent1">
          <th mat-header-cell *matHeaderCellDef>Time Spent 1</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.timeSpent1() }}</td>
        </ng-container>
    
        <ng-container matColumnDef="lunchOut">
          <th mat-header-cell *matHeaderCellDef>Lunch Out</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.lunchOut }}</td>
        </ng-container>
    
        <ng-container matColumnDef="lunchIn">
          <th mat-header-cell *matHeaderCellDef>Lunch In</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.lunchIn }}</td>
        </ng-container>
    
        <ng-container matColumnDef="timeSpent2">
          <th mat-header-cell *matHeaderCellDef>Time Spent 2</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.timeSpent2() }}</td>
        </ng-container>
    
        <ng-container matColumnDef="break2out">
          <th mat-header-cell *matHeaderCellDef>Break 2 Out</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.break2out }}</td>
        </ng-container>
    
        <ng-container matColumnDef="break2in">
          <th mat-header-cell *matHeaderCellDef>Break 2 In</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.break2in }}</td>
        </ng-container>
    
        <ng-container matColumnDef="timeSpent3">
          <th mat-header-cell *matHeaderCellDef>Time Spent 3</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.timeSpent3() }}</td>
        </ng-container>
    
        <ng-container matColumnDef="timeOut">
          <th mat-header-cell *matHeaderCellDef>Time Out</th>
          <td mat-cell *matCellDef="let employee" class="scroll-column">{{ employee.timeOut }}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  </div>
</div>
