<mat-nav-list>
    <div style="height: 500px; overflow: hidden;">
        <div style="display: flex; justify-content: center">
          <mat-form-field appearance="fill">
            <mat-label style="font-size: small">Add Member</mat-label>
            <input
              matInput
              placeholder="Ex. Daniel Baffour"
              [(ngModel)]="newWorkstationMember"
            />
            <mat-icon matSuffix>person_add</mat-icon>
          </mat-form-field>
          <button
            mat-raised-button
            style="margin-left: 20px; margin-top: 10px"
            (click)="addWorkstationMember()"
          >
            Add
          </button>
        </div>
      
        <h6
          style="
            font-weight: 100;
            text-align: center;
            background-color: rgba(36, 36, 36, 0.036);
            padding: 10px;
          "
        >
          {{ selectedWorkstationName }}
        </h6>
      
        <div id="member-list">
          <div
            class="mtl-item-title"
            *ngFor="let member of members; trackBy: trackByName"
            mat-list-item
            style="cursor: unset"
          >
            <span>{{ member }}</span>
            <button
              mat-icon-button
              matTooltip="remove {{ member }}"
              aria-label="remove member"
              style="cursor: pointer; border: none; display: flex"
            >
              <mat-icon style="font-size: 20px">delete</mat-icon>
            </button>
          </div>
        </div>
    </div>
</mat-nav-list>
